   <article class="post">
      <div class="title">
        <a class="link" href="/post/{{id}}">{{title}}</a>
      </div>
      <div class="meta">
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        <p class="post-content">{{content}}</p>
        <p class="vote-content">{{vote_count}} {{format_plural "point" vote_count}}</p>
        <p> {{comments.length}} {{format_plural "comment" comments.length}}</p>
      </div>
    </article>