   <article class="post">
      <div class="title">
        <a target="_blank">{{title}}</a>
      </div>
      <div class="meta">
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>