<style>
    .txt{
        color: tan;
    }
    .btt{
        background-color: darkslategray;
    }
</style>

<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2 class="txt">
        Edit Post
    </h2>
    <form class="edit-post-form">
        <label for="post-title" class="form-label txt">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        <label class="form-label txt" for="content">Content</label>
            <input name="content" type="text" value="{{post.content}}" class="form-input" />
        <div class="txt">
            {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit" class="txt btt">Save post</button>
        <button type="button" class="delete-post-btn txt btt">Delete post</button>
    </form>
</article>
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="txt btt">Add Comment</button>
    </div>
</form>

{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}